html{
  background-color: #fff;
}

body{
  font-family: 'Archivo Narrow', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  background-color: #fff;
}

.navbar{
  background-color: #fff;
  /* -webkit-box-shadow: 0 6px 4px -4px #999;
  -moz-box-shadow: 0 6px 4px -4px #999;
  box-shadow: 0 6px 4px -4px #999; */
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
    /* the rest of your styling */
}

a{
  color: #BF0436;
}

.navbar a, h3 b, .active a{
  color: #333;
}

h3{
  color: #BF0436;
}

h4 b, p b, h2 b{
  font-weight: 500;
}

.navbar a:hover, a:hover{
  color: #B3B3BA;
  text-decoration: none;
}

/*.header{
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(53,42,132);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}*/
.fa{
  margin-right: 15px;
}

.navbar .container{
  font-size: 1.8em;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
}

.container{
  margin-top: 20px;
}

.header{
  width: 100%;
  height: 400px;
  z-index: -5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  background-color: #333;
}
h1,h2,h3,h5{
  font-family: 'Julius Sans One', sans-serif;
}
h1{
  font-size: 3.2em;
  line-height: 28px;
}

h2{
  font-size: 2.4em;
  line-height: 28px;
}

h3{
  font-size: 1.8em;
  line-height: 28px;
}

h4{
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  font-weight: 500;
}

h5{
  font-size: 1.2em;
  color: #FF0000;
  text-align: center;
}

p{
  font-weight: 300;
}

p, li{
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  font-weight: 300;
}

.title{
  background-color: #333;
  opacity: 0.8;
  color: #fff;
}

.title h1,h2{
  text-align: center;
  z-index: -1;
}

.header img{
  position: absolute;
  width: inherit;
  height: auto;
  z-index: -3;
}

.project-bites{
  margin-top: 25px;
  margin-bottom: 25px;
}

.project-bites p{
  font-weight: 300;
}

.within-body{
  margin-left: -3.2%;
}

.project-page h2{
  text-align: left;
  font-weight: 300;
  font-size: 2.0em;
}

.project-page h2:hover, .project-page a:hover, .projects-title:hover{
  text-decoration: none;
}

.projects-title{
  color: #000;
}

.projects-title:hover{
  color: #000;
}

.project{
  margin-bottom: 50px;
}
.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    zoom: 0.5; 
    /* -ms-zoom: 0.75;
   -moz-transform: scale(0.75);
   -moz-transform-origin: 0 0;
   -o-transform: scale(0.75);
   -o-transform-origin: 0 0;
   -webkit-transform: scale(0.75);
   -webkit-transform-origin: 0 0; */
}
